# Dependencies
node_modules
npm-debug.log
yarn-debug.log
yarn-error.log

# Next.js build output
.next
out

# Environment variables
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
env.json
env.list

# Misc
.git
.github
.vscode
*.md
!README.md
.gitignore
.dockerignore
Dockerfile
docker-compose.yml

# Tests
__tests__
coverage
jest.config.js
jest.setup.js

# Notification service
notification-service
