{
  "openapi": "3.1.0",
  "info": {
    "title": "FableSpace Public REST API",
    "version": "1.2.0",
    "description": "Public REST API and developer endpoints for FableSpace (https://fablespace.space), an open platform for creative fiction, serialized web novels, independent authors, and writing challenges.",
    "contact": {
      "name": "FableSpace Developer Support",
      "url": "https://fablespace.space/developers",
      "email": "contact@fablespace.space"
    },
    "license": {
      "name": "MIT",
      "url": "https://fablespace.space/terms"
    }
  },
  "servers": [
    {
      "url": "https://api.fablespace.space/api/v1",
      "description": "Production API Server"
    },
    {
      "url": "https://fablespace.space/api/v1",
      "description": "Web Gateway Proxy"
    }
  ],
  "paths": {
    "/stories": {
      "get": {
        "summary": "List and filter published stories",
        "description": "Retrieve paginated stories with optional filters for genre, tag, author, language, completion status, or search keywords.",
        "operationId": "getStories",
        "parameters": [
          {
            "name": "search",
            "in": "query",
            "description": "Search keyword for story title or synopsis",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "genre",
            "in": "query",
            "description": "Filter by genre slug (e.g. fantasy, romance, science-fiction)",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "tag",
            "in": "query",
            "description": "Filter by tag slug (e.g. slow-burn, magic-system, cyber-thriller)",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "sortBy",
            "in": "query",
            "description": "Sort order for stories",
            "required": false,
            "schema": {
              "type": "string",
              "enum": ["newest", "mostViewed", "popular", "topRated"],
              "default": "newest"
            }
          },
          {
            "name": "status",
            "in": "query",
            "description": "Publication status",
            "required": false,
            "schema": {
              "type": "string",
              "enum": ["ongoing", "completed"],
              "default": "ongoing"
            }
          },
          {
            "name": "page",
            "in": "query",
            "description": "Page number (1-based)",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 1
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Number of items per page",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 20,
              "maximum": 50
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful list of stories",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": { "type": "boolean" },
                    "data": {
                      "type": "object",
                      "properties": {
                        "stories": {
                          "type": "array",
                          "items": { "$ref": "#/components/schemas/StorySummary" }
                        },
                        "total": { "type": "integer" },
                        "page": { "type": "integer" },
                        "totalPages": { "type": "integer" }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/stories/{slug}": {
      "get": {
        "summary": "Get story details by slug",
        "description": "Fetch detailed information, synopsis, author bio, chapter list, and reading statistics for a specific story.",
        "operationId": "getStoryBySlug",
        "parameters": [
          {
            "name": "slug",
            "in": "path",
            "required": true,
            "description": "URL slug of the story",
            "schema": { "type": "string" }
          }
        ],
        "responses": {
          "200": {
            "description": "Detailed story object with published chapters",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": { "type": "boolean" },
                    "data": { "$ref": "#/components/schemas/StoryDetail" }
                  }
                }
              }
            }
          },
          "404": {
            "description": "Story not found"
          }
        }
      }
    },
    "/stories/{slug}/chapters/{chapterNumber}": {
      "get": {
        "summary": "Get chapter content",
        "description": "Fetch full chapter text, title, author notes, and word count.",
        "operationId": "getChapterContent",
        "parameters": [
          {
            "name": "slug",
            "in": "path",
            "required": true,
            "description": "Story slug",
            "schema": { "type": "string" }
          },
          {
            "name": "chapterNumber",
            "in": "path",
            "required": true,
            "description": "Chapter number (1-based)",
            "schema": { "type": "integer" }
          }
        ],
        "responses": {
          "200": {
            "description": "Chapter content object",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": { "type": "boolean" },
                    "data": { "$ref": "#/components/schemas/Chapter" }
                  }
                }
              }
            }
          },
          "404": {
            "description": "Chapter or story not found"
          }
        }
      }
    },
    "/challenges": {
      "get": {
        "summary": "List writing challenges and prompts",
        "description": "Fetch active, upcoming, and past community writing contests and creative prompts.",
        "operationId": "getChallenges",
        "responses": {
          "200": {
            "description": "List of challenges",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": { "type": "boolean" },
                    "data": {
                      "type": "array",
                      "items": { "$ref": "#/components/schemas/Challenge" }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/blog": {
      "get": {
        "summary": "List blog posts and craft essays",
        "description": "Fetch published writing craft advice, news, and platform spotlights.",
        "operationId": "getBlogPosts",
        "responses": {
          "200": {
            "description": "List of blog posts",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": { "type": "boolean" },
                    "data": {
                      "type": "array",
                      "items": { "$ref": "#/components/schemas/BlogPost" }
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "StorySummary": {
        "type": "object",
        "properties": {
          "id": { "type": "string" },
          "title": { "type": "string" },
          "slug": { "type": "string" },
          "description": { "type": "string" },
          "coverImage": { "type": "string" },
          "author": {
            "type": "object",
            "properties": {
              "name": { "type": "string" },
              "username": { "type": "string" }
            }
          },
          "genre": { "type": "string" },
          "status": { "type": "string", "enum": ["ongoing", "completed"] },
          "chapterCount": { "type": "integer" },
          "likeCount": { "type": "integer" },
          "viewCount": { "type": "integer" },
          "createdAt": { "type": "string", "format": "date-time" },
          "updatedAt": { "type": "string", "format": "date-time" }
        }
      },
      "StoryDetail": {
        "type": "object",
        "properties": {
          "id": { "type": "string" },
          "title": { "type": "string" },
          "slug": { "type": "string" },
          "description": { "type": "string" },
          "coverImage": { "type": "string" },
          "author": {
            "type": "object",
            "properties": {
              "id": { "type": "string" },
              "name": { "type": "string" },
              "username": { "type": "string" },
              "bio": { "type": "string" },
              "avatar": { "type": "string" }
            }
          },
          "genre": { "type": "string" },
          "tags": {
            "type": "array",
            "items": { "type": "string" }
          },
          "status": { "type": "string" },
          "chapters": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "id": { "type": "string" },
                "title": { "type": "string" },
                "chapterNumber": { "type": "integer" },
                "wordCount": { "type": "integer" },
                "createdAt": { "type": "string", "format": "date-time" }
              }
            }
          }
        }
      },
      "Chapter": {
        "type": "object",
        "properties": {
          "id": { "type": "string" },
          "title": { "type": "string" },
          "chapterNumber": { "type": "integer" },
          "content": { "type": "string" },
          "wordCount": { "type": "integer" },
          "authorNotes": { "type": "string" },
          "createdAt": { "type": "string", "format": "date-time" }
        }
      },
      "Challenge": {
        "type": "object",
        "properties": {
          "id": { "type": "string" },
          "title": { "type": "string" },
          "slug": { "type": "string" },
          "prompt": { "type": "string" },
          "startDate": { "type": "string", "format": "date-time" },
          "endDate": { "type": "string", "format": "date-time" },
          "entryCount": { "type": "integer" }
        }
      },
      "BlogPost": {
        "type": "object",
        "properties": {
          "id": { "type": "string" },
          "title": { "type": "string" },
          "slug": { "type": "string" },
          "excerpt": { "type": "string" },
          "content": { "type": "string" },
          "author": { "type": "string" },
          "publishedAt": { "type": "string", "format": "date-time" }
        }
      }
    }
  }
}
