import { NextResponse } from 'next/server';
import type { NextRequest } from 'next/server';

// This function can be marked `async` if using `await` inside
export function middleware(request: NextRequest) {
  // Example: Add response headers
  const response = NextResponse.next();
  response.headers.set('x-middleware-cache', 'no-cache');
  
  // Example: Redirect if needed
  // if (request.nextUrl.pathname === '/about') {
  //   return NextResponse.redirect(new URL('/about-2', request.url));
  // }
  
  return response;
}

// See "Matching Paths" below to learn more
export const config = {
  matcher: [
    // Skip all internal paths (_next, api, etc)
    '/((?!api|_next/static|_next/image|favicon.ico).*)',
  ],
};
